<p>Olá,</p>
<p>Você solicitou a recuperação de senha. Clique no link abaixo para redefinir sua senha:</p>
<p><a href="{{resetLink}}">Redefinir Senha</a></p>
<p>Se você não solicitou a recuperação de senha, ignore este email.</p>
